*~
*.swp
*.bak
.gitmodules
.stow-local-ignore
.DS_Store
thumbs.db
.config/discord/
.config/Electron/
.config/pulse/
.config/torbrowser/
.config/gtk-3.0/
.config/dconf/
.config/keepassxc/
.config/pavucontrol.ini
.config/QtProject.conf
.config/qutebrowser/
